<p-panel [showHeader]="true" header="Pipes basicos" class="p-2">
  <p>Pipes incluidos en angular - Usualmente en common module</p>
</p-panel>

<section class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset
      legend="i18n Select Pipe"
      [toggleable]="true"
      [collapsed]="false"
    >
      <p>
        Saludos {{ name }} es un placer
        {{ gender | i18nSelect : invitationMap }} a nuestro evento
      </p>

      <p-button label="Cambiar persona" (click)="changeClient()" />
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset
      legend="i18n Plural Pipe"
      [toggleable]="true"
      [collapsed]="false"
    >
      <p>
        Actualmente
        {{ clients.length | i18nPlural : clientsMap }}
      </p>

      <p-button label="Borrar cliente" (click)="deleteClient()" />
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true" [collapsed]="false">
      <b>Origin</b> <br />
      {{ clients.join(", ") }}
      <br />
      <b>Slice : 1 : 2</b>
      <pre>{{ clients | slice : 1 : 2 }}</pre>

      <b>Slice : 3 : 4</b>
      <pre>{{ clients.slice(3, 4) }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true" [collapsed]="false">
      {{ person | json }}
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Key value Pipe" [toggleable]="true" [collapsed]="false">
      @for (p of person | keyvalue; track $index) {
      <p>{{ p.key | titlecase }} : {{ p.value }}</p>
      }
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true" [collapsed]="false">
      <p>{{ myObservableTimer | async }}</p>

      @if (!(promiseValue | async)) {
      <p>Loading...</p>
      } @else {
      <p>{{ promiseValue | async }}</p>
      }
    </p-fieldset>
  </div>
</section>
