<p-panel [showHeader]="true" header="Pipes numericos basicos" class="p-2">
  <p>Pipes incluidos en angular - Usualmente en common module</p>
</p-panel>

<section class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Ventas netas">
      {{ totalSells + 1235 | number : "1.2-2" }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas brutas">
      {{ totalSells | currency : "HNL" : "symbol-narrow" : "1.4-4" }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganacia porcentual">
      {{ percent | percent : "1.2-2" }}
    </p-card>
  </div>
</section>
